# This is the config file in YAML format having the Firewalls and GP Gateway 
# names that need to be monitored for multiple logon sesisons.

# WARNING: DO NOT REMOVE OR RENAME THIS FILE. MAKE A COPY AND MODIFY THAT 
# TO MAKE YOUR CONFIG. The config file "config.yml" will be overwritten 
# automatically by the script in case API Keys are not specified and 
# WARNING: All comments / instructions in them will be lost when config.yml
# is overwritten.

# As an example for a stand-alone firewall.

log_path: './logs'          # Location of log files for this script
daemon_mode: false          # run as a continous process and repeat when finished
check_interval: 60          # Number of seconds to wait before re-running (30 is default)

# Panoramas to be worked on
# Note 1: In case of HA panoramas, only one of the firewalls should be defined
#         in the HA section and the peer panorama IP/Hostname should be 
#         provided in the ha_peer_ip field under the firewall entry


panoramas:
  192.168.3.2:
    api_key: # Leave blank to generate new
    device_group: my_device_group.
    ha_peer_ip: null
